@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1E40AF; 
    cursor: pointer;
}